.container {
  padding: 10px 30px;
}

.input {
  padding: 5px 10px;
  width: 300px;
  outline: none;
  margin-bottom: 20px;
}

.button {
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 20px;
}
